{% extends "base.html" %}
{% load urlify %}

  {% block head_title %}
    {{ instance.title }} | {{ block.super }}
  {% endblock %}

{% block content %}
  <section class="col-sm-6 col-sm-offset-3">
    <h1>{{ title }}
      <small>{{ instance.publish }}</small>
      <br />
    </h1>
    <h4>
      {% if instance.draft %}<span style="color:red; font-style:italic; font-weight:bold;"> Draft </span>{% endif %}
    </h4>
    <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
    {% if instance.image %}
      <img src="{{ instance.image.url }}" class="img-responsive"/>
    {% endif %}
    {% if instance.user.get_full_name %}
    <h4>{{ instance.user.get_full_name }}</h4>
    {% endif %}
    <p>{{ instance.content|linebreaks }}</p>
    <br />
    <br />
    <hr/>
    <section class="row">
      <article class="col-sm-12">
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5">
        </div>
      </article>
    </section>
  </section>
{% endblock %}
