<!--DOCTYPE html-->

<html>
<head>
  <title>Blog</title>
</head>
<body>
  <section>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if "html_safe" in message.tags %}
          {{ message|safe }}
        {% else %}
          {{ message}}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
  <section>
    <h1>{{ title }}</h1>
    <p>
    {{ instance.title }}<br />
    {{ instance.content }}<br />
    {{ instance.timestamp }}<br />
    {{ instance.updated }}<br />
    {{ instance.id }}<br />
    <br />
    </p>
  </section>
</body>
</html>
